<div data-role="view" data-title="Progress Exchange CALA 2015" data-layout="main" data-model="app.home" data-init='app.home.locationService.initlLocation' data-show="app.home.onShow" data-after-show="app.home.afterShow">
    <!-- START_CUSTOM_CODE_home -->
    <!-- END_CUSTOM_CODE_home -->
    <div>
        <h1>
            Sheraton São Paulo WTC Hotel
        </h1>
        <p>
            Centro de Convenções Piso C
            <br /> Avenida das Nações Unidas, 12559
            <br />Brooklin Novo, São Paulo - SP
            <br />Telefone: (5511) 3055.8000
            <a href='www.sheratonsaopaulowtc.com.br'>www.sheratonsaopaulowtc.com.br</a>
        </p>
        <p> Localizado na região da Berrini, centro de negócios de São Paulo, o Sheraton São Paulo WTC Hotel faz parte do complexo WTC São Paulo e está a apenas 6km do Aeroporto de Congonhas e 36km de Guarulhos. Oferece acesso direto ao D&D, o maior shopping de decoração e design da América Latina, além de integração ao WTC Events Center, o maior Centro de Eventos em um complexo hoteleiro no Brasil. São mais de 12.000 m², divididos em 5 andares e mais de 60 espaços flexíveis, incluindo o WTC Golden Hall, uma arena multiuso de 3150m². </p>
        <p> Referências: Zona Sul da cidade de São Paulo - paralelo à Marginal Pinheiros e a Avenida Luís Carlos Berrini, onde estão localizadas muitos dos escritórios das maiores empresas nacionais e internacionais. </p>
        <p> * o local possui estacionamento que será cobrado diretamente de cada participante. </p>
    </div>
    <!--Location -->
    <div id="map-canvas"></div>
</div>